/Lazarus/HPACK_TST.exe
/Lazarus/backup/*.bak
/Lazarus/backup/*.lpi
/Lazarus/backup/*.lps
/Lazarus/*.exe
/Lazarus/*.res
/Lazarus/lib/x86_64-win64/*.o
/Lazarus/lib/x86_64-win64/*.ppu
/Lazarus/lib/x86_64-win64/*.rsj
/Lazarus/lib/x86_64-win64/*.compiled
/Lazarus/lib/x86_64-win64/*.obj
/Lazarus/lib/x86_64-win64/*.res
/Lazarus/lib/x86_64-win64/*.dfm
/Lazarus/lib/x86_64-win64/*.lfm
/Lazarus/lib/x86_64-win64/*.a
/Oc/*.stat
/Oc/__history/*.~1~
/OrgaMon/*.local
/OrgaMon/*.identcache
/OrgaMon/*.stat
/OrgaMon/__history/*.~1~
/OrgaMon/__history/*.~2~
/PASconTools/__history/*.~1~
/PASconTools/__history/*.~2~
/PASconTools/__history/*.~3~
/PASconTools/__history/*.~4~
/PASconTools/__history/*.~5~
/PASconTools/__history/*.~6~
/PASconTools/backup/*.pas
/rev/__history/*.~1~
/rev/__history/*.~2~
/HTTP2/backup
/rev/__history/*.~5~
/rev/__history
__history
__recovery
*.local
*.identcache
*.stat
/OrgaMon/backup
/Lazarus/lib/i386-win32
/Lazarus/backup
/PASconTools/backup
/webUI/Win32/Debug
/DCPcrypt/Hashes/backup/*.bak
/OrgaMon/OrgaMon-Console.iss.iss
/OrgaMon/OrgaMon.drc
/ccr-exif/backup
/Lazarus/lOrgaMon.lps
/Oc/Oc.dproj.local
/Oc/Oc.identcache
*.lps
