~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<p class="title">~CONST_SENTENCE_EXTENDED_SEARCH~</p>
<form action="~CONST___INDEX~" method="get" style="margin-left:70px; margin-bottom:10px;">
  <p class="fieldtitle" id="inline">~CONST_WORD_SEARCHEXPRESSION~</p>
  <input type="text" class="short" name="f_search_expression" value="~VAR_SEARCH_USER_EXPRESSION~" size="18" />
  <!-- <input type="submit" class="buttonaslink" value="~CONST_SENTENCE_START_SEARCH~" style="vertical-align:middle;" /> -->
  <input type="submit" class="buttonaslink" value=">>>" style="vertical-align:middle;" />
  <input type="hidden" name="action" value="search_user_expression_extended" />
  <input type="hidden" name="sid"  value="~VAR_NEXT_SEARCH_ID~" />
  <input type="hidden" name="site" value="search" />
  <input type="hidden" name="page" value="1" />
</form>
<p style="margin:0px; margin-left:70px;">
~OBJ_TREE~
</p>