<p class="title" style="color:#C00">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/cookies-title.txt
--> TEXT: cookies-title.txt <!-- END TEXT -->
</p>
<!-- BEGIN PARAMS
title=Cookie deaktiviert
--><!-- END PARAMS -->
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/cookies-explanation.txt
!NL2BR=1
!HTML2TXT=false
--> TEXT: cookies-explanation.txt <!-- END TEXT -->
</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/cookies-list.txt
!NL2BR=0
!HTML2TXT=1
--> TEXT: cookies-list.txt <!-- END TEXT -->
</p>