~OBJ_ERRORLIST~~OBJ_MESSAGELIST~  
<p class="title">~CONST_SENTENCE_YOU_ARE_LEAVING_THIS_WEBSITE~</p>  
<p class="subtitle">~CONST_WORD_HINT~:</p>
<p class="text"><b>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/demo-hint-leaving-website.txt
-->TEXT: demo-hint-leaving-website.txt<!-- END TEXT -->
</b></p>  
<p class="subtitle">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_demo.png
ALT=
STYLE=margin-right:10px; vertical-align:middle;
-->IMAGE: icon_demo.png<!-- END IMAGE --> 
~CONST_SENTENCE_3RD_PARTY_DEMOS~:
</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/demo-www-research.txt
-->TEXT: demo-www-research.txt<!-- END TEXT -->
</p>
~OBJ_LINK~
<hr />
<p class="hint" id="justify" style="width:75%;">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/demo-link-disclaimer.txt
-->TEXT: demo-link-disclaimer.txt<!-- END TEXT -->
</p>  
