 <!-- BEGIN PARAMS
title=In Memoriam Christian Buss
--><!-- END PARAMS -->
<table width="75%" border=0>
<tr>
  <td width=100%>
    <p align="center"><b><font face="Arial" color="#000000" size="5">Der
    HeBu Musikverlag&nbsp;<br>
    trauert um seinen&nbsp;Geschäftsführer&nbsp;<br>
    <br>
    </font><font size="7"> Christian Buss</font><br>
    <font size="3">* 26.07.1969&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img border="0" src="http://www.hebu-music.de/pics/newsletter/newsletter0814/kreuz.gif" height="15">
    18.08.2008<br>
    <br>
    </font></b>
  </td>
</tr>
<tr>
  <td>
    <p align="center">
      <img border="0" src="http://www.hebu-music.de/Christian-Buss.jpg" width="600" height="468">
	</p>
  </td>
</tr>
</table>

<hr />
<hr />

<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/inmemoriam-text.txt
!HTML2TXT=1
-->TEXT: inmemoriam-text.txt<!-- END TEXT -->
</p>