~OBJ_MESSAGELIST~~OBJ_ERRORLIST~
<p class="title">~CONST_SENTENCE_ACCESS_VIA_CUSTOMER_NO~</p>
<form name="form_register" action="~CONST___INDEX~" method="post">
<input type="hidden" name="action" value="register" />
<input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~" />
<table class="form" cellspacing="0">
  <tr>
    <td id="first_col"><p class="fieldtitle">~CONST_WORD_CUSTOMER_NO~</p>
      <input type="text" name="f_customer_no" maxlength="7" size="5" value="~VAR_F_CUSTOMER_NO~" />
	</td>
  </tr>
  <tr>
    <td id="first_col"><p class="fieldtitle">~CONST_WORD_SURNAME~</p>
      <input type="text" name="f_surname" maxlength="50" size="30" value="~VAR_F_SURNAME~" />
	</td>
  </tr>
  <tr>
	<td id="first_col"><p class="fieldtitle">~CONST_WORD_ZIP_CODE~</p>
      <input type="text" name="f_zip_code" maxlength="10" size="5" value="~VAR_F_ZIP_CODE~" />
	</td>
  </tr>
  <tr>
	<td id="first_col"><p class="fieldtitle">~CONST_WORD_EMAIL~</p>
      <input type="text" name="f_user" maxlength="50" size="35" value="~VAR_F_USER~" />
	  <input type="submit" class="buttonaslink" value=">>>" />
	</td>
  </tr>
</table>
</form>
