~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<table style="width:780px; border:0; padding:0px; margin-left:30px;" cellspacing="0"> 
<tr><td colspan="2" style="vertical-align:top; text-align:left; padding-bottom:10px;"> 
  <b>~CONST_WORD_SITEMAP~</b>  
</td></tr> 
<tr><td style="width:50px; vertical-align:top; text-align:right; padding-right:10px; border:0;"> 
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_sitemap.png
ALT=
STYLE=border:0px;
-->IMAGE: icon_sitemap.png<!-- END IMAGE -->
</td><td style="vertical-align:top; text-align:left; padding-bottom:10px;">  
  ~OBJ_MAP~
</td></tr>
</table>