~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<p class="title">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/welcome-title.txt
-->TEXT: welcome-title.txt<!-- END TEXT -->
</p>
<!-- BEGIN PARAMS
title=~CONST_WORD_WELCOME~
--><!-- END PARAMS -->
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/welcome-text.txt
-->TEXT: welcome-text.txt<!-- END TEXT -->
</p>

<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_01.jpg" alt="~CONST_WORD_PAGE~ 1" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_02.jpg" alt="~CONST_WORD_PAGE~ 2" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_03.jpg" alt="~CONST_WORD_PAGE~ 3" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_04.jpg" alt="~CONST_WORD_PAGE~ 4" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_05.jpg" alt="~CONST_WORD_PAGE~ 5" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_06.jpg" alt="~CONST_WORD_PAGE~ 6" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_07.jpg" alt="~CONST_WORD_PAGE~ 7" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_08.jpg" alt="~CONST_WORD_PAGE~ 8" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_09.jpg" alt="~CONST_WORD_PAGE~ 9" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_10.jpg" alt="~CONST_WORD_PAGE~ 10" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_11.jpg" alt="~CONST_WORD_PAGE~ 11" />
<img src="http://www.hebu-music.de/aktuell/HeBu-Aktuell Herbst2009_Page_12.jpg" alt="~CONST_WORD_PAGE~ 12" />