~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<div style="width:75%; float:left;">
<div style="width:30%; float:left; margin-right:30px;">
<p class="title">~CONST_WORD_CONTACTINFO~</p>
<p>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-germany.txt
!HTML2TXT=true
-->TEXT: contact-germany.txt<!-- END TEXT -->
</p>
</div>
<div style="width:30%; float:left; margin-right:30px;"> 
<p class="title">~CONST_WORD_MANAGEMENT~</p>
<p>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-management.txt
!HTML2TXT=true
-->TEXT: contact-management.txt<!-- END TEXT -->
</p>
</div>
<div style="width:30%; float:left; margin-right:0px;"> 
<p class="title">~CONST_WORD_BANKINFO~</p>
<p>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-bank.txt
!HTML2TXT=true
-->TEXT: contact-bank.txt<!-- END TEXT -->
</p>
</div>
</div>
<div class="clear"></div>


<hr style="height:30px;" />
<p class="title">~CONST_SENTENCE_OUR_DISTRIBUTORS~</p>
<div style="width:75%; float:left;">
<div style="width:30%; float:left; margin-right:30px;">
<!-- SPALTE 1 -->
<p class="subtitle" id="no_margin">~CONST_WORD_AUSTRIA~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-austria.txt
!HTML2TXT=true
-->TEXT: contact-austria.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_FRANCE~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-france.txt
!HTML2TXT=true
-->TEXT: contact-france.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_ITALY~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-italy.txt
!HTML2TXT=true
-->TEXT: contact-italy.txt<!-- END TEXT -->
</p>
</div>

<div style="width:30%; float:left; margin-right:30px;">
<!-- SPALTE 2 -->
<p class="subtitle" id="no_margin">~CONST_WORD_NETHERLANDS~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-netherlands.txt
!HTML2TXT=true
-->TEXT: contact-netherlands.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_GREATBRITAIN~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-great-britain.txt
!HTML2TXT=true
-->TEXT: contact-great-britain.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_SPAIN~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-spain.txt
!HTML2TXT=true
-->TEXT: contact-spain.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_PORTUGAL~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-portugal.txt
!HTML2TXT=true
-->TEXT: contact-portugal.txt<!-- END TEXT -->
</p>
</div>

<div style="width:30%; float:left; margin-right:0px;">
<!-- SPALTE 3 -->
<p class="subtitle" id="no_margin">~CONST_WORD_BELGIUM~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-belgium.txt
!HTML2TXT=true
-->TEXT: contact-belgium.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_SCANDINAVIA~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-scandinavia.txt
!HTML2TXT=true
-->TEXT: contact-scandinavia.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_SUISSE~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-suisse.txt
!HTML2TXT=true
-->TEXT: contact-suisse.txt<!-- END TEXT -->
</p>
<p class="subtitle" id="no_margin">~CONST_WORD_USA~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/contact-usa.txt
!HTML2TXT=true
-->TEXT: contact-usa.txt<!-- END TEXT -->
</p>
</div>

</div>
<div class="clear"></div>
