~OBJ_ERRORLIST~~OBJ_MESSAGELIST~  
<table style="width:600px; margin-left:100px; margin-top:50px;" border="0" cellspacing="0">  
<tr><td>
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_link.png
ALT=
STYLE=float:left; margin-right:20px; margin-bottom:20px;
-->IMAGE: icon_link.png<!-- END IMAGE -->
  <span style="font-size:22px;"><b>~CONST_SENTENCE_YOU_ARE_LEAVING_THIS_WEBSITE~</b></span><br />  
  <br /><b>~CONST_WORD_HINT~:<br />
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/demo-hint-leaving-website.txt
-->TEXT: demo-hint-leaving-website.txt<!-- END TEXT -->
  </b><br /><br />  
  
  <table style="padding:0px; border:0px; margin:0px; table-layout:fixed;" cellspacing="0">  
  <tr><td style="padding:0px; border:0px; width:29px; vertical-align:top; background:#ADCBE7;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_left_top_corner_blue.png
ALT=
STYLE=border:0px;
-->IMAGE: back_article_cart_left_top_corner_blue.png<!-- END IMAGE --> 
  </td><td rowspan="2" style="width:45px !important; border:0px; background:#ADCBE7; text-align:right; vertical-align:top; padding-top:10px; padding-left:0px;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_demo_blue.png
ALT=
STYLE=margin-right:10px;
-->IMAGE: icon_demo_blue.png<!-- END IMAGE -->      
  </td><td rowspan="2" style="width:100%; background:#ADCBE7; vertical-align:top; padding-top:10px; padding-bottom:5px; padding-left:10px;">  
    <b>~CONST_SENTENCE_3RD_PARTY_DEMOS~:</b><br />
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/demo-www-research.txt
-->TEXT: demo-www-research.txt<!-- END TEXT -->
	</b><br /> 
    <br />~OBJ_LINK~ 
  </td><td style="padding:0px; border:0px; width:29px; vertical-align:top; text-align:right; background:#ADCBE7;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_right_top_corner_blue.png
ALT=
STYLE=border:0px;
-->IMAGE: back_article_cart_right_top_corner_blue.png<!-- END IMAGE -->  
  </td></tr> 
  <tr><td style="padding:0px; border:0px; width:29px; vertical-align:bottom; text-align:left; background:#ADCBE7;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_left_bottom_corner_blue.png
ALT=
STYLE=border:0px; vertical-align:bottom;
-->IMAGE: back_article_cart_left_bottom_corner_blue.png<!-- END IMAGE -->
  </td><td style="padding:0px; border:0px; width:29px; vertical-align:bottom; text-align:right; background:#ADCBE7;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_right_bottom_corner_blue.png
ALT=
STYLE=border:0px; vertical-align:bottom;
-->IMAGE: back_article_cart_right_bottom_corner_blue.png<!-- END IMAGE -->
  </td></tr> 
  </table> 
  
  <br /><br /> 
  <span class="smallgrey">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/demo-link-disclaimer.txt
-->TEXT: demo-link-disclaimer.txt<!-- END TEXT -->
  </span>  
</td></tr></table>