<script type="text/javascript">
function forgottenPassword(action) 
{ var email = document.forms['login'].elements['f_user'].value;
  var href;
  if (email.length > 0) href = '~CONST___INDEX~?action=send_password&f_user=' + encodeURI(email);
  else href = '~CONST___INDEX~?site=send_password';
  if (action == 1) document.location.href = href;
  else return href;
}

document.cookie = 'TWEBSHOP_COOKIE_TEST=true;';
if (!document.cookie)
{ document.write('<table style="width:780px; background-color:#FFCCCC; border-color:#CC0000; border-style:solid; border-width:2px; padding:5px; color:#CC0000; font-weight:bold;"><tr><td>~CONST_ERROR_COOKIES_NOT_ACTIVATED~</td></tr></table><br />');
}
</script>


~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<table style="border:0px; padding:0px; table-layout:fixed;" cellspacing="0">
<tr>
  <td style="width:10px; padding:0px; border:0px;">&nbsp;</td>
  <td style="width:240px; vertical-align:top; padding-left:0px; padding-right:0px;">
    <span style="font-size:15px;"><b>~CONST_WORD_LOGIN~</b></span>
  </td>
  <td rowspan="2" style="width:10px; padding:0px; border:0px;">&nbsp;</td>
  <td style="width:10px; padding:0px; border:0px;">&nbsp;</td>
  <td style="width:240px; vertical-align:top; padding-left:0px; padding-right:0px;">
    <span style="font-size:15px;"><b>~CONST_SENTENCE_ACCESS_VIA_CUSTOMER_NO~</b></span>
  </td>
  <td rowspan="2" style="width:10px; padding:0px; border:0px;">&nbsp;</td>
  <td style="width:10px; padding:0px; border:0px;">&nbsp;</td>
  <td style="width:240px; vertical-align:top; padding-left:0px; padding-right:0px;">
    <span style="font-size:15px;"><b>~CONST_SENTENCE_ACCESS_AS_NEW_CUSTOMER~</b></span>
  </td>
</tr>
<tr>
  <td colspan="2" style="width:230px; height:175px; font-size:13px; color:#000000; vertical-align:top; padding:10px; background:url('~CONST___TEMPLATE_IMAGES_PATH~back_box.png') no-repeat;">
    <form id="login" action="~CONST___INDEX~" method="post">
	  <input type="hidden" name="action" value="login">
	  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
	  <input type="hidden" name="site" value="login">
      <b>~CONST_WORD_EMAIL~</b><br />
	  <input class="char05" type="text" id="f_user" name="f_user" maxlength="50" size="30" value="~VAR_C_USER~" /><br />
	  <br />
      <b>~CONST_WORD_PASSWORD~</b><br />
	  <input class="char05" type="password" name="f_pass" maxlength="25" size="10" /><br />
	  <a class="a01s" href="javascript:forgottenPassword(1);" onMouseOver="javascript:window.status = forgottenPassword(0); return true;" onMouseOut="javascript:window.status=''; return true;">~CONST_SENTENCE_FORGOTTEN_PASSWORD~</a><br />
	  <br />
      <input type="submit" value="~CONST_WORD_OK~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
    </form>
  </td>
  <td colspan="2" style="width:230px; height:175px; font-size:13px; vertical-align:top; padding:10px; background:url('~CONST___TEMPLATE_IMAGES_PATH~back_box_orange.png') no-repeat;">
    <b>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/login-register-via-customer-no.txt
-->TEXT: login-register-via-customer-no.txt<!-- END TEXT -->
	</b><br />
	<center>
	<form action="~CONST___INDEX~" method="get">
      <input type="submit" value="~CONST_WORD_REGISTER~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF6633; background:#FFFFFF;">
      <input type="hidden" name="site" value="register">
    </form> 
	</center>
  </td>
  <td colspan="2" style="width:230px; height:175px; font-size:13px; vertical-align:top; padding:10px; background:url('~CONST___TEMPLATE_IMAGES_PATH~back_box_red.png') no-repeat;">
    <b>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/login-new-sign-on.txt
-->TEXT: login-new-sign-on.txt<!-- END TEXT -->
	</b><br />
	<center>
	<form action="~CONST___INDEX~" method="get">
      <input type="submit" value="~CONST_WORD_SIGNON~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF3333; background:#FFFFFF;">
      <input type="hidden" name="site" value="signon">
    </form>
	</center>
  </td>
</tr>
</table>