~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<table style="width:90%; margin-left:50px; table-layout:fixed;" cellspacing="0">
<tr>
<td style="width:75px;"></td>
<td style="padding-bottom:20px;">
  <span style="font-size:22px; font-weight:bold;">~CONST_SENTENCE_MY_SHOP~</span><br />
  <span class="smallgrey">~CONST_SENTENCE_YOUR_CUSTOMER_AREA~</span> 
</td>
</tr>
~TEMPLATE_STEP~
<!-- BEGIN PARAMS
title=~CONST_SENTENCE_MY_SHOP~
--><!-- END PARAMS -->
<!-- BEGIN STEP
NAME=overview
TITLE=~CONST_SENTENCE_MY_SHOP~
DESCRIPTION=~CONST_SENTENCE_YOUR_CUSTOMER_AREA~
-->
<!-- BEGIN BLOCK
NAME=ORGATIX
-->
<tr>
<td style="width:75px; height:50px; vertical-align:middle; text-align:right;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_orgatix.png
ALT=OrgaTix
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_orgatix.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:0px;">
   <a href="~CONST___INDEX~?site=myshop&subsite=orgatix"><b>OrgaTix</b></a>
</td>
</tr>
<!-- END BLOCK -->
<tr>
<td style="width:75px; height:50px; vertical-align:middle; text-align:right;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_settings.png
ALT=~CONST_WORD_SETTINGS~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_settings.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:0px;">
  <a href="~CONST___INDEX~?site=myshop&subsite=settings""><b>~CONST_WORD_SETTINGS~</b></a>
</td>
</tr>
<tr>
<td style="width:75px; height:50px; vertical-align:middle; text-align:right;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_customer_data.png
ALT=~CONST_WORD_CUSTOMER_DATA~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_customer_data.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:0px;">
  <a href="~CONST___INDEX~?site=myshop&subsite=customer_data"><b>~CONST_WORD_CUSTOMER_DATA~</b></a>
</td>
</tr>
<tr>
<td style="width:75px; height:50px; vertical-align:middle; text-align:right;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_account.png
ALT=~CONST_WORD_ACCOUNT~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_account.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:0px;">
  <a href="~CONST___INDEX~?site=myshop&subsite=account"><b>~CONST_WORD_ACCOUNT~</b></a>
</td>
</tr>
<tr>
<td style="width:75px; height:50px; vertical-align:middle; text-align:right;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_order_state.png
ALT=~CONST_SENTENCE_ORDER_STATE~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_order_state.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:0px;">
  <a href="~CONST___INDEX~?site=myshop&subsite=order_state"><b>~CONST_SENTENCE_ORDER_STATE~</b></a>
</td>
</tr>
<tr>
<td style="width:75px; height:50px; vertical-align:middle; text-align:right;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_mail.png
ALT=~CONST_WORD_SETTINGS~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_mail.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:0px;">
   <a href="~CONST___INDEX~?site=myshop&subsite=mailings"><b>~CONST_WORD_MAILINGS~</b></a>
</td>
</tr>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=settings
TITLE=~CONST_WORD_SETTINGS~
DESCRIPTION=
-->
<tr>
<td style="width:75px; vertical-align:top;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_big_settings.png
ALT=~CONST_WORD_SETTINGS~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_big_settings.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:20px;">
  <b>~CONST_WORD_SETTINGS~</b><br />

  <div style="width:630px; padding:5px; border:1px dashed #AAAAAA; margin-top:15px;">
  <form action="~CONST___INDEX~" method="post" style="margin:0px;">
  <b>~CONST_SENTENCE_SEARCH_HITS_PER_PAGE~:</b>
  <input type="radio" name="f_quantity" id="f_quantity_5"  value="5"  style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_5~> &nbsp;<label for="f_quantity_5"  style="vertical-align:middle;">5</label>
  <input type="radio" name="f_quantity" id="f_quantity_10" value="10" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_10~>&nbsp;<label for="f_quantity_10" style="vertical-align:middle;">10</label>
  <input type="radio" name="f_quantity" id="f_quantity_15" value="15" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_15~>&nbsp;<label for="f_quantity_15" style="vertical-align:middle;">15</label>
  <input type="radio" name="f_quantity" id="f_quantity_20" value="20" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_20~>&nbsp;<label for="f_quantity_20" style="vertical-align:middle;">20</label>
  <input type="radio" name="f_quantity" id="f_quantity_25" value="25" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_25~>&nbsp;<label for="f_quantity_25" style="vertical-align:middle;">25</label>
  <input type="radio" name="f_quantity" id="f_quantity_30" value="30" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_30~>&nbsp;<label for="f_quantity_30" style="vertical-align:middle;">30</label>
  <br /><br />
  <input type="hidden" name="action" value="set_hits_per_page">
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
  <input type="submit" value="~CONST_WORD_SAVE~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
  </form>
  </div>
  
  ~OBJ_USER_DISCOUNT~
  
  <br /><br />
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=customer_data
TITLE=~CONST_WORD_CUSTOMER_DATA~
DESCRIPTION=
-->
<tr>
<td style="width:75px; vertical-align:top;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_big_customer_data.png
ALT=~CONST_WORD_CUSTOMER_DATA~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_big_customer_data.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:20px;">
  <b>~CONST_WORD_CUSTOMER_DATA~</b><br /> 
  ~OBJ_USER~
  <b>~CONST_WORD_PASSWORD~</b><br />
  <div style="width:630px; padding:5px; border:1px dashed #AAAAAA;">
  <form action="~CONST___INDEX~" method="post" style="margin:0px;">
  ~CONST_SENTENCE_NEW_PASSWORD~:&nbsp;<input type="password" class="char05" name="f_pass" maxlength="25" size="10">&nbsp;&nbsp;&nbsp;~CONST_WORD_CONFIRMATION~:&nbsp;<input type="password" class="char05" name="f_pass_confirm" maxlength="25" size="10"><br />
  <input type="hidden" name="action" value="change_password">
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
  <input type="submit" value="~CONST_WORD_SAVE~" style="margin-top:10px; font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
  </form>
  </div>
  <br /><br />
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
</td>
</tr>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=mailings
TITLE=~CONST_WORD_MAILINGS~
DESCRIPTION=
-->
<tr>
<td style="width:75px; vertical-align:top;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_big_mail.png
ALT=~CONST_WORD_SETTINGS~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_big_mail.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:20px;">
   <b>~CONST_WORD_MAILINGS~</b>
   ~OBJ_MAILINGS~
   <br /><br />
   <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
</td>
</tr>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=account
TITLE=~CONST_WORD_ACCOUNT~
DESCRIPTION=
-->
<tr>
<td style="width:75px; vertical-align:top;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_big_account.png
ALT=~CONST_WORD_ACCOUNT~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_big_account.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:20px;">
  <b>~CONST_WORD_ACCOUNT~</b><br />
  <div style="padding:5px; border:1px dashed #AAAAAA;">
  ~CONST_SENTENCE_CURRENT_ACCOUNT_BALANCE~: <b>~VAR_ORGAMON_ACCOUNT_INFO~</b>&nbsp;&nbsp;&nbsp;<a href="./viewer.php?file=~VAR_USER_MONITION_DOCUMENT~" target="_blank">~CONST_WORD_ACCOUNT_STATEMENT~</a>
  </div>

<!-- BEGIN BLOCK
NAME=CURRENT_WORKING_BALANCE
-->
  <div style="margin-top:3px; padding:5px; border:1px dashed #AAAAAA;">
  ~CONST_SENTENCE_CURRENT_WORKING_BALANCE~: &nbsp;&nbsp;&nbsp;<a href="./viewer.php?file=~VAR_USER_BUDGET_DOCUMENT~" target="_blank">~CONST_WORD_WORKINGTIME~</a>
  </div>
<!-- END BLOCK -->  
  <!-- s_myshop:BILLS -->
  <br />
  <br />
  <b>~CONST_WORD_BILLS~</b>
  <div style="padding:5px; border:1px dashed #AAAAAA;">
  ~OBJ_BILLS~
  </div>
  
  <br /><br />
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
</td>
</tr>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=order_state
TITLE=~CONST_SENTENCE_ORDER_STATE~
DESCRIPTION=
-->
<tr>
<td style="width:75px; vertical-align:top;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_big_order_state.png
ALT=~CONST_SENTENCE_ORDER_STATE~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_big_order_state.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:20px;">
  <b>~CONST_SENTENCE_ORDER_STATE~</b><br />
  <div style="width:630px; padding:5px; border:1px dashed #AAAAAA;">
  ~OBJ_ORDER_STATE~
  </div>
  <br /><br />
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
</td>
</tr>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=orgatix
TITLE=OrgaTix
DESCRIPTION=
-->
<tr>
<td style="width:75px; vertical-align:top;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_big_orgatix.png
ALT=~CONST_SENTENCE_ORDER_STATE~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_big_orgatix.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:20px;">
  <b>OrgaTix</b><br />
  <a href="~CONST___INDEX~?site=myshop&subsite=orgatix_ticket&id=0">~CONST_SENTENCE_CREATE_NEW_TICKET~</a>
  <div style="width:100%; padding:5px; border:1px dashed #AAAAAA; margin-top:5px;">
  ~OBJ_ORGATIX~
  </div>
  <br /><br />
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
</td>
</tr>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=orgatix_ticket
TITLE=OrgaTix : Ticket
DESCRIPTION=
-->
<tr>
<td style="width:75px; vertical-align:top;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_big_orgatix.png
ALT=~CONST_SENTENCE_ORDER_STATE~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_big_orgatix.png<!-- END IMAGE -->
</td>
<td style="vertical-align:middle; padding-bottom:20px;">
  <b>OrgaTix : ~CONST_WORD_TICKET~</b><br />
  <div style="width:630px; padding:5px; border:1px dashed #AAAAAA; margin-top:5px;">
  ~OBJ_ORGATIX_TICKET~
  </div>
  <br /><br />
  <a href="?site=myshop&subsite=orgatix">~CONST_WORD_BACK~</a>
</td>
</tr>
<!-- END STEP -->
</table>