~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<table style="margin-top:20px;" width="780" border="0" cellpadding="0" cellspacing="0">
<tr><td style="text-align:center;">
<center>
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~grfx_welcome.png
ALT=~CONST_WORD_WELCOME~
STYLE=margin-bottom:50px;
-->IMAGE: grfx_welcome.png<!-- END IMAGE -->
<table style="width:600px; padding:0px; border:0px; margin:0px; table-layout:fixed; margin-bottom:20px;" cellspacing="0">  
  <tr><td style="padding:0px; border:0px; width:29px; vertical-align:top; background:#D9D9D9;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_left_top_corner_grey.png
ALT=
STYLE=border:0px;
-->IMAGE: back_article_cart_left_top_corner_blue.png<!-- END IMAGE --> 
  </td><td rowspan="2" style="width:45px !important; border:0px; background:#D9D9D9; text-align:right; vertical-align:top; padding-top:10px; padding-left:0px;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_star_grey.png
ALT=
STYLE=margin-right:10px;
-->IMAGE: icon_demo_blue.png<!-- END IMAGE -->      
  </td><td rowspan="2" style="width:100%; background:#D9D9D9; vertical-align:top; padding-top:10px; padding-bottom:5px; padding-left:10px;">  
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/start-beta-release.txt
-->TEXT: start-beta-release.txt<!-- END TEXT -->
  </td><td style="padding:0px; border:0px; width:29px; vertical-align:top; text-align:right; background:#D9D9D9;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_right_top_corner_grey.png
ALT=
STYLE=border:0px;
-->IMAGE: back_article_cart_right_top_corner_blue.png<!-- END IMAGE -->  
  </td></tr> 
  <tr><td style="padding:0px; border:0px; width:29px; vertical-align:bottom; text-align:left; background:#D9D9D9;">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_left_bottom_corner_grey.png
ALT=
STYLE=border:0px; vertical-align:bottom;
-->IMAGE: back_article_cart_left_bottom_corner_blue.png<!-- END IMAGE -->
  </td><td style="padding:0px; border:0px; width:29px; vertical-align:bottom; text-align:right; background:#D9D9D9;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~back_article_cart_right_bottom_corner_grey.png
ALT=
STYLE=border:0px; vertical-align:bottom;
-->IMAGE: back_article_cart_right_bottom_corner_blue.png<!-- END IMAGE -->
  </td></tr> 
  </table>

<a href="~CONST___INDEX~?action=set_language&language=german">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_german.png
ALT=
STYLE=border:0px; vertical-align:middle;
-->IMAGE: icon_german.png<!-- END IMAGE --></a>

<a href="~CONST___INDEX~?action=set_language&language=english">  
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_english.png
ALT=
STYLE=border:0px; vertical-align:middle;
-->IMAGE: icon_english.png<!-- END IMAGE --></a>
</center>
</td></tr>
</table>
