<p class="title">~CONST_SENTENCE_MY_HEBU~</p>
~TEMPLATE_STEP~
<!-- BEGIN PARAMS
title=~CONST_SENTENCE_MY_HEBU~
--><!-- END PARAMS -->
<!-- BEGIN STEP
NAME=overview
TITLE=~CONST_WORD_OVERVIEW~
DESCRIPTION=~CONST_SENTENCE_YOUR_CUSTOMER_AREA~
-->
~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/myshop-introduction.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: myshop-introduction.txt<!-- END TEXT -->
</p>

<a href="~CONST___INDEX~?site=myshop&subsite=mymusic"><b>~CONST_SENTENCE_MY_MUSIC~</b></a>
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/myshop-mymusic.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: myshop-mymusic.txt<!-- END TEXT --> 
  <a href="~CONST___INDEX~?site=myshop&subsite=mymusic"><b>~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</b></a>
</p>

<a href="~CONST___INDEX~?site=myshop&subsite=order_state"><b>~CONST_SENTENCE_ORDER_STATE~</b></a>
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/myshop-order-state.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: myshop-order-state.txt<!-- END TEXT -->
  <a href="~CONST___INDEX~?site=myshop&subsite=order_state"><b>~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</b></a>
</p>

<a href="~CONST___INDEX~?site=myshop&subsite=settings"><b>~CONST_WORD_SETTINGS~</b></a>
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/myshop-settings.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: myshop-personal-settings.txt<!-- END TEXT -->
  <a href="~CONST___INDEX~?site=myshop&subsite=settings"><b>~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</b></a>
</p>

<a href="~CONST___INDEX~?site=myshop&subsite=customer_data"><b>~CONST_WORD_CUSTOMER_DATA~</b></a>
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/myshop-customer-data.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: myshop-customer-data.txt<!-- END TEXT -->
  <a href="~CONST___INDEX~?site=myshop&subsite=customer_data"><b>~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</b></a>
</p>

<a href="~CONST___INDEX~?site=myshop&subsite=account"><b>~CONST_WORD_ACCOUNT~</b></a>
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/myshop-account-info.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: myshop-account-info.txt<!-- END TEXT -->
  <a href="~CONST___INDEX~?site=myshop&subsite=account"><b>~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</b></a>
</p>

<a href="~CONST___INDEX~?site=myshop&subsite=mailings"><b>~CONST_WORD_MAILINGS~</b></a>
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/myshop-mailings.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: myshop-mailings.txt<!-- END TEXT -->
  <a href="~CONST___INDEX~?site=myshop&subsite=mailings"><b>~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</b></a>
</p>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=settings
TITLE=~CONST_WORD_SETTINGS~
DESCRIPTION=
-->
  ~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
  <p class="steptitle">~CONST_WORD_SETTINGS~</p>

  <div class="myshop">
  <form action="~CONST___INDEX~" method="post" style="margin:0px;">
  <p class="fieldtitle">~CONST_SENTENCE_SEARCH_HITS_PER_PAGE~:</p>
  <input type="radio" class="radio" name="f_quantity" id="f_quantity_5"  value="5"  style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_5~> &nbsp;<label for="f_quantity_5"  style="vertical-align:middle;">5</label>
  <input type="radio" class="radio" name="f_quantity" id="f_quantity_10" value="10" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_10~>&nbsp;<label for="f_quantity_10" style="vertical-align:middle;">10</label>
  <input type="radio" class="radio" name="f_quantity" id="f_quantity_15" value="15" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_15~>&nbsp;<label for="f_quantity_15" style="vertical-align:middle;">15</label>
  <input type="radio" class="radio" name="f_quantity" id="f_quantity_20" value="20" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_20~>&nbsp;<label for="f_quantity_20" style="vertical-align:middle;">20</label>
  <input type="radio" class="radio" name="f_quantity" id="f_quantity_25" value="25" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_25~>&nbsp;<label for="f_quantity_25" style="vertical-align:middle;">25</label>
  <input type="radio" class="radio" name="f_quantity" id="f_quantity_30" value="30" style="vertical-align:middle;" ~VAR_USER_TREFFERPROSEITE_30~>&nbsp;<label for="f_quantity_30" style="vertical-align:middle;">30</label>
  <br />
  <input type="hidden" name="action" value="set_hits_per_page">
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
  <input type="submit" class="button" value="~CONST_WORD_SAVE~">
  </form>
  </div>
  
  ~OBJ_USER_DISCOUNT~
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=customer_data
TITLE=~CONST_WORD_CUSTOMER_DATA~
DESCRIPTION=
-->
  ~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
  <p class="steptitle">~CONST_WORD_CUSTOMER_DATA~</p>
  ~OBJ_USER~
  <p class="steptitle">~CONST_WORD_PASSWORD~</p>
  <div class="myshop">
  <form action="~CONST___INDEX~" method="post">
  <p class="fieldtitle">~CONST_SENTENCE_NEW_PASSWORD~</p><input type="password" name="f_pass" maxlength="25" size="10">
  <p class="fieldtitle">~CONST_WORD_CONFIRMATION~</p><input type="password" name="f_pass_confirm" maxlength="25" size="10">
  <input type="hidden" name="action" value="change_password">
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
  <input type="submit" class="button" value="~CONST_WORD_SAVE~">
  </form>
  </div>
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=mailings
TITLE=~CONST_WORD_MAILINGS~
DESCRIPTION=
-->
  ~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
  <p class="steptitle">~CONST_WORD_MAILINGS~</p>
  ~OBJ_MAILINGS~
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=account
TITLE=~CONST_WORD_ACCOUNT~
DESCRIPTION=
-->
  ~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
  <p class="steptitle">~CONST_WORD_ACCOUNT~</p>
  <div class="myshop">
  ~CONST_SENTENCE_CURRENT_ACCOUNT_BALANCE~: <b>~VAR_ORGAMON_ACCOUNT_INFO~</b>&nbsp;&nbsp;&nbsp;<a href="./viewer.php?file=~VAR_USER_MONITION_DOCUMENT~" target="_blank">~CONST_WORD_DETAILS~</a>
  </div>
  <p class="steptitle">~CONST_WORD_BILLS~</p>
  <div class="myshop">
  ~OBJ_BILLS~
  </div>
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=order_state
TITLE=~CONST_SENTENCE_ORDER_STATE~
DESCRIPTION=
-->
  ~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
  <p class="steptitle">~CONST_SENTENCE_ORDER_STATE~</p>
  <div class="myshop">
  ~OBJ_ORDER_STATE~
  </div>
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
<!-- END STEP -->
<!-- BEGIN STEP 
NAME=mymusic
TITLE=~CONST_SENTENCE_MY_MUSIC~
DESCRIPTION=
-->
  ~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
  <script type="text/javascript">
   	function doReload()
	{ var command = 'window.location.href="~CONST___INDEX~?site=myshop&subsite=~NAME~"';
	  window.setTimeout(command,2000);
	}
  </script>
  <p class="steptitle">~CONST_SENTENCE_MY_MUSIC~</p>
  <hr />
  <div class="myshop">
    ~OBJ_MYMUSIC~
  </div>
  <a href="?site=myshop&subsite=overview">~CONST_WORD_BACK~</a>
<!-- END STEP -->
