<p class="title">~CONST_SENTENCE_ORDER_OUR_NEWSLETTER~</p>
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/newsletter-info.txt
-->TEXT: newsletter-info.txt<!-- END TEXT -->
</p>
<form name="form_newsletter" action="~CONST___INDEX~" method="post">
<input type="hidden" name="action" value="newsletter" />
<input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~" />
<table class="form" cellspacing="0">
  <tr>
    <td id="first_col"><p class="fieldtitle">~CONST_WORD_NAME~</p>
      <input type="text" name="f_customer_no" maxlength="7" size="5" value="~VAR_F_CUSTOMER_NO~" />
	</td>
  </tr>
  <tr>
	<td id="first_col"><p class="fieldtitle">~CONST_WORD_EMAIL~</p>
      <input type="text" name="f_user" maxlength="50" size="35" value="~VAR_F_USER~" />
	  <input type="submit" class="buttonaslink" value="Angaben abschicken >>>" />
	</td>
  </tr>
</table>
