~OBJ_ERRORLIST~~OBJ_MESSAGELIST~
<p class="title">~CONST_SENTENCE_FORGOTTEN_PASSWORD~</p>
<p class="text">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/send-password-enter-email-address.txt
-->TEXT: send-password-enter-email-address.txt<!-- END TEXT -->
</p>
<form name="form_send_password" action="~CONST___INDEX~" method="post">
  <input type="hidden" name="action" value="send_password" />
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~" />
  <input type="hidden" name="site" value="login" />
  <p class="fieldtitle">~CONST_WORD_EMAIL~</p>
  <input type="text" class="short" id="f_user" name="f_user" size="30" maxlength="50" value="~VAR_C_USER~" />
  <input type="submit" class="buttonaslink" value=">>>" />
</form>