 <!-- BEGIN PARAMS
title=~CONST_SENTENCE_FREE_SIGNON~
--><!-- END PARAMS -->
~OBJ_ERRORLIST~
<p class="title">~CONST_SENTENCE_FREE_SIGNON~</p>
~TEMPLATE_STEP~
<!-- BEGIN STEP
NAME=country
TITLE=~CONST_SENTENCE_CHOOSE_COUNTRY~
DESCRIPTION=~CONST_SENTENCE_PLEASE_SELECT_YOUR_COUNTRY~
-->
<p class="text" id="justify">
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/signon-introduction.txt
!HTML2TXT=1
!NL2BR=1
-->TEXT: signon-introduction.txt<!-- END TEXT -->
</p>
<p class="subtitle">~CONST_SENTENCE_YOU_START_YOUR_SIGNON_PROCESS_HERE~</p>
<p class="steptitle">1. ~CONST_WORD_STEP~: ~DESCRIPTION~</p>
<form name="form_country" action="~CONST___INDEX~" method="post">
  <input type="hidden" name="site" value="~VAR_SITE~">
  <input type="hidden" name="action" value="signon_set_country">
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
  ~OBJ_COUNTRIES~
</form>
<p class="text" id="right">
  <a onClick="javascript:document.form_country.submit();">~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</a>
</p>
<!-- END STEP -->
<!-- BEGIN STEP
NAME=customer_data
TITLE=~CONST_SENTENCE_CUSTOMER_DATA_AND_ADDRESS~
DESCRIPTION=~CONST_SENTENCE_PLEASE_ENTER_YOUR_DATA_AND_ADDRESS~
-->
<form name="form_customer_data" action="~CONST___INDEX~" method="post">
  <input type="hidden" name="site" value="~VAR_SITE~">
  <input type="hidden" name="action" value="signon_set_customer_data">
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
  <p class="steptitle" id="inline">2. ~CONST_WORD_STEP~: ~CONST_SENTENCE_PERSONAL_DETAILS~</p>
  <p class="fieldtitle" id="inline">(*&nbsp;~CONST_SENTENCE_OPTIONAL_ENTRIES~)</p>
  ~OBJ_PERSON~
  <p class="steptitle" id="inline">3. ~CONST_WORD_STEP~: ~CONST_SENTENCE_ADDRESS_DETAILS~</p>
  ~OBJ_ADDRESS~
</form>
<p class="text" id="right">
  <a href="~CONST___INDEX~?site=~VAR_SITE~&action=signon_back&aid=~VAR_NEXT_ACTION_ID~">&lt;&lt;&lt;&nbsp;~CONST_WORD_BACK~</a>&nbsp;&nbsp;&nbsp;
  <a onClick="javascript:document.form_customer_data.submit();">~CONST_WORD_GOON~&nbsp;&gt;&gt;&gt;</a>
</p>
<!-- END STEP -->
<!-- BEGIN STEP
NAME=validate
TITLE=~CONST_WORD_VALIDATE~
DESCRIPTION=~CONST_SENTENCE_PLEASE_VALIDATE_YOUR_PERSONAL_DETAILS~
-->
<form name="form_validate" action="~CONST___INDEX~" method="post">
  <input type="hidden" name="site" value="~VAR_SITE~">
  <input type="hidden" name="action" value="signon">
  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
  <p class="steptitle">4. ~CONST_WORD_STEP~: ~CONST_SENTENCE_PLEASE_VALIDATE_YOUR_PERSONAL_DETAILS~</p>
  ~OBJ_PERSON~
</form>
<p id="left"><a href="~CONST___INDEX~?site=~VAR_SITE~&action=signon_back&aid=~VAR_NEXT_ACTION_ID~">&lt;&lt;&lt;&nbsp;~CONST_SENTENCE_CHANGE_ENTRIES~</a></p>
<p id="left"><a onClick="javascript:document.form_validate.submit();">~CONST_SENTENCE_CONFIRM_ENTRIES~&nbsp;&gt;&gt;&gt;</a></p>
<!-- END STEP -->
<!-- BEGIN STEP
NAME=done
TITLE=
DESCRIPTION=
-->
<!--
<p class="title">Vielen Dank für Ihre Registrierung</p>
<p class="text" id="justify">
Sie sind nun mit der Kundennummer 42378 für den WebShop angemeldet. Sie erhalten eine E-Mail mit
Ihrem persönlichen Passwort an das Postfach mustermann@gmx.de.
</p>
<p class="text" id="justify">
Damit Sie in unserem Webshop einkaufen können, müssen Sie sich mit diesem Passwort im Kunden-
Login bereich einloggen. Viel Spaß dabei wünscht Ihnen das Team von hebu-music.
</p>
-->
<!-- END STEP -->
