</td></tr>
<tr><td style="height:30px; padding:0px;">

  <table style="width:800px; table-layout:fixed;" cellspacing="0">
  <tr>
    <td style="height:20px; text-align:left; vertical-align:middle; font-size:11px; background-color:#DDDDDD; padding-left:10px; background-image:url('~CONST___TEMPLATE_IMAGES_PATH~back_status_bar.png'); background-repeat:repeat-x;">
      <span class="smallgrey">Rev.&nbsp;~VAR_REVISION~&nbsp; &nbsp;~VAR_PERF_MS~&nbsp;ms&nbsp;(XMLRPC:~VAR_PERF_XMLRPC~/DB:~VAR_PERF_SQL~)</span> 
	  <!-- ~CONST___TEMPLATE_PROJECTNAME~ Rev. ~VAR_TEMPLATE_REVISION~ -->
	  <!-- [ <a class="a05" href="./~CONST___PROJECTNAME~_Info.html" target="_blank">Info</a> ]
	  //-->
    </td>
    <td style="height:20px; text-align:right; vertical-align:middle; font-size:11px; background-color:#DDDDDD; background-image:url('~CONST___TEMPLATE_IMAGES_PATH~back_status_bar.png'); background-repeat:repeat-x;">
      <a class="a05" href="~CONST___INDEX~?site=terms">~CONST_SHORT_TERMS_OF_BUSINESS~</a> | 
      <a class="a05" href="~CONST___INDEX~?site=contact">~CONST_SENTENCE_CONTACT_AND_IMPRINT~</a> |
	  <a class="a05" href="~CONST___INDEX~?site=sitemap">~CONST_WORD_SITEMAP~</a>
    </td>
    <td style="width:27px; height:20px; text-align:center; vertical-align:middle; font-size:11px; background-color:#DDDDDD; background-image:url('~CONST___TEMPLATE_IMAGES_PATH~back_status_bar.png'); background-repeat:repeat-x;">
	</td>
  </tr>
  <tr>
  <td colspan="3" style="height:10px; background-color:#ADCBE7;"></td>
  </tr>
  </table>
  
</td></tr>
</table>
</body>
</html>
<!--
PERFORMANCE
~OBJ_PERFORMANCE~
-->