~OBJ_MESSAGELIST~~OBJ_ERRORLIST~
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_order.png
ALT=
STYLE=float:left; margin-right:20px;
-->IMAGE: icon_order.png<!-- END IMAGE -->
<span style="font-size:22px; font-weight:bold;">~CONST_SENTENCE_PLACE_ORDER~</span><br />
<span style="color:#555555;">~CONST_WORD_STEP~ ~VAR_STEP~: ~VAR_SITE_STEP_TITLE~ - ~VAR_SITE_STEP_DESCRIPTION~</span><br />
<br />
~TEMPLATE_STEP~
<!-- BEGIN STEP
NAME=tob
TITLE=~CONST_SENTENCE_TERMS_OF_BUSINESS~
DESCRIPTION=~CONST_SENTENCE_PLEASE_READ_OUR_TOB~
-->
<textarea style="width:780px; height:400px; font-size:11px; border:2px solid #000000;">
<!-- BEGIN RAW_TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/terms-of-business.txt
-->RAW_TEXT: terms-of-business.txt<!-- END RAW_TEXT -->
</textarea>
<form action="~CONST___INDEX~" method="post" style="margin:0px; margin-top:15px;">
<input type="hidden" name="site" value="~VAR_SITE~">
<input type="hidden" name="action" value="order_accept_tob">
<input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
<input type="button" value="«&nbsp;~CONST_WORD_BACK~" onClick="javascript:location.href='~CONST___INDEX~?site=~VAR_LAST_SITE~';" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
<input type="submit" value="~CONST_WORD_ACCEPT~&nbsp;»" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
</form>
<!-- END STEP -->
<!-- BEGIN STEP
NAME=addresses
TITLE=~CONST_SENTENCE_BILL_AND_DELIVERY_ADDRESS~
DESCRIPTION=~CONST_SENTENCE_PLEASE_SELECT_YOUR_PREFERRED_BILL_AND_DELIVERY_ADDRESSES~
-->
<form action="~CONST___INDEX~" method="post" style="margin:0px; margin-top:15px;">
<b>~CONST_WORD_BILL_ADDRESS~</b><br />
<div style="margin-left:50px; margin-bottom:20px;">
~OBJ_CONTACTS_BILL~
</div>
<b>~CONST_WORD_DELIVERY_ADDRESS~</b><br />
<div style="margin-left:50px; margin-bottom:20px;">
~OBJ_CONTACTS_DELIVERY~
</div>
<input type="hidden" name="site" value="~VAR_SITE~">
<input type="hidden" name="action" value="order_select_addresses">
<input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
<input type="button" value="«&nbsp;~CONST_WORD_BACK~" onClick="javascript:location.href='~CONST___INDEX~?site=~VAR_SITE~&action=order_back&aid=~VAR_NEXT_ACTION_ID~';" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
<input type="submit" value="~CONST_WORD_GOON~&nbsp;»" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
</form>
<!-- END STEP -->
<!-- BEGIN STEP
NAME=overview
TITLE=~CONST_SENTENCE_ORDER_OVERVIEW~
DESCRIPTION=~CONST_SENTENCE_PLEASE_VALIDATE_YOUR_ORDER~
-->
~OBJ_CART~<br />
<b>~CONST_WORD_BILL_ADDRESS~</b><br />
~OBJ_CONTACT_BILL~<br />
<br />
<b>~CONST_WORD_DELIVERY_ADDRESS~</b><br />
~OBJ_CONTACT_DELIVERY~<br />
<br />
<b>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/order-important-hint.txt
-->TEXT: order-important-hint.txt<!-- END TEXT -->
</b>
<form action="~CONST___INDEX~" method="post" style="margin:0px; margin-top:15px;">
<input type="hidden" name="site" value="~VAR_SITE~">
<input type="hidden" name="action" value="order">
<input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
<input type="button" value="«&nbsp;~CONST_WORD_BACK~" onClick="javascript:location.href='~CONST___INDEX~?site=~VAR_SITE~&action=order_back&aid=~VAR_NEXT_ACTION_ID~';" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
<input type="submit" value="~CONST_SENTENCE_PLACE_ORDER~" style="font-family:Tahoma; font-size:11px; font-weight:bold; color:#CC0000; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
<!-- END STEP -->

