~OBJ_MESSAGELIST~~OBJ_ERRORLIST~
<table style="width:700px; margin-left:50px; table-layout:fixed;" cellspacing="0">
<tr>
<td style="width:75px; padding-bottom:0px; vertical-align:middle;">
<!-- BEGIN IMAGE
SRC=~CONST___TEMPLATE_IMAGES_PATH~icon_help.png
ALT=~CONST_WORD_SETTINGS~
STYLE=vertical-align:middle; margin-right:15px;
-->IMAGE: icon_help.png<!-- END IMAGE -->
</td>
<td style="padding-bottom:0px; vertical-align:middle;">
  <span style="font-size:22px; font-weight:bold;">~CONST_WORD_HELP~</span>
  <span class="smallgrey"></span> 
</td>
</tr>
<tr>
<td style="width:75px; vertical-align:top;"></td>
<td style="vertical-align:middle; padding-bottom:20px;">
  <b>
<!-- BEGIN TEXT
SRC=~CONST___LANGUAGE_PATH~~CONST___LANGUAGE~/help-instructions.txt
-->TEXT: help-instructions.txt<!-- END TEXT -->
  </b>
  <form action="~CONST___INDEX~" method="post" style="margin:0px; margin-top:10px;">
    <textarea class="char05" style="width:500px; height:300px;" name="f_help_request">~VAR_F_HELP_REQUEST~</textarea>
    <input type="hidden" name="action" value="send_help_request"><br /><br />
    <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
    <input type="submit" value="~CONST_WORD_SEND~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #6699CC; padding-left:10px; padding-right:10px; background:#FFFFFF;">
  </form>
</td>
</tr>
</table>