~OBJ_MESSAGELIST~~OBJ_ERRORLIST~
<table style="border:0px; padding:0px; table-layout:fixed; margin-top:25px; margin-left:30px;" cellspacing="0">
<tr>
  <td style="width:10px; padding:0px; border:0px;">&nbsp;</td>
  <td style="width:270px; vertical-align:top; padding-left:0px; padding-right:0px;">
    <span style="font-size:15px;"><b>~CONST_SENTENCE_ACCESS_VIA_CUSTOMER_NO~</b></span>
  </td>
  <td rowspan="2" style="width:10px; padding:0px; border:0px;">&nbsp;</td>
</tr>
<tr>
  <td colspan="2" style="width:260px; height:205px; font-size:13px; vertical-align:top; padding:10px; background:url('~CONST___TEMPLATE_IMAGES_PATH~back_box_orange_register.png') no-repeat;">
    <form action="~CONST___INDEX~" method="get">
	  <input type="hidden" name="action" value="register">
	  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
	  <b>~CONST_WORD_CUSTOMER_NO~</b><br />
	  <input class="char03" type="text" name="f_customer_no" maxlength="7" size="5" value="~VAR_F_CUSTOMER_NO~" /><br />
	  <b>~CONST_WORD_SURNAME~</b><br />
	  <input class="char03" type="text" name="f_surname" maxlength="50" size="30" value="~VAR_F_SURNAME~" /><br />
	  <b>~CONST_WORD_ZIP_CODE~</b><br />
	  <input class="char03" type="text" name="f_zip_code" maxlength="10" size="5" value="~VAR_F_ZIP_CODE~" /><br />
	  <b>~CONST_WORD_EMAIL~</b><br />
	  <input class="char03" type="text" name="f_user" maxlength="50" size="35" value="~VAR_F_USER~" /><br />
	  <br />
	  <input type="submit" value="~CONST_WORD_REGISTER~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF6633; background:#FFFFFF;">
    </form>
  </td>
</tr>
</table>