~OBJ_ERRORLIST~
<table style="border:0px; padding:0px; table-layout:fixed; margin-top:25px; margin-left:30px;" cellspacing="0">
<tr>
  <td style="width:10px; padding:0px; border:0px;">&nbsp;</td>
  <td style="width:270px; vertical-align:top; padding-left:0px; padding-right:0px;">
    <span style="font-size:15px;"><b>~CONST_SENTENCE_ACCESS_AS_NEW_CUSTOMER~</b></span><br />
	<span style="color:#555555;">~CONST_WORD_STEP~ ~VAR_STEP~: ~VAR_SITE_STEP_TITLE~</span>
  </td>
  <td rowspan="2" style="width:10px; padding:0px; border:0px;">&nbsp;</td>
</tr>
<tr>
~TEMPLATE_STEP~
<!-- BEGIN STEP
NAME=country
TITLE=~CONST_SENTENCE_CHOOSE_COUNTRY~
DESCRIPTION=~CONST_SENTENCE_PLEASE_SELECT_YOUR_COUNTRY~
-->
  <td colspan="2" style="width:230px; height:175px; font-size:13px; vertical-align:top; padding:10px; background:url('~CONST___TEMPLATE_IMAGES_PATH~back_box_red.png') no-repeat;">
    ~DESCRIPTION~<br />
	<form action="~CONST___INDEX~" method="post">
	  <input type="hidden" name="site" value="~VAR_SITE~">
	  <input type="hidden" name="action" value="signon_set_country">
	  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
	  ~OBJ_COUNTRIES~<br /><br />
	  <input type="button" value="~CONST_CAPTION_BACK_BUTTON~" onClick="javascript:location.href='~CONST___INDEX~?site=login';" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF3333; background:#FFFFFF;">
      <input type="submit" value="~CONST_CAPTION_GOON_BUTTON~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF3333; background:#FFFFFF;">
    </form>
  </td>
<!-- END STEP -->
<!-- BEGIN STEP
NAME=customer_data
TITLE=~CONST_SENTENCE_CUSTOMER_DATA_AND_ADDRESS~
DESCRIPTION=~CONST_SENTENCE_PLEASE_ENTER_YOUR_DATA_AND_ADDRESS~
-->
  <td colspan="2" style="width:260px; height:475px; font-size:13px; vertical-align:top; padding:10px; background:url('~CONST___TEMPLATE_IMAGES_PATH~back_box_red_signon.png') no-repeat;">
    ~DESCRIPTION~<br />
    <form action="~CONST___INDEX~" method="post">
	  <input type="hidden" name="site" value="~VAR_SITE~">
	  <input type="hidden" name="action" value="signon_set_customer_data">
	  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
	  <b>~CONST_SENTENCE_PERSONAL_DATA~</b>
	  <hr style="color:#FF3333; height:1px;" />
	  <!--
	  ~CONST_WORD_SALUTATION~<br />
	  <select class="select01" name="f_salutation">
	  <option>-</option>
	  <option value="~CONST_WORD_MISSES~">~CONST_WORD_MISSES~</option>
	  <option value="~CONST_WORD_MISTER~">~CONST_WORD_MISTER~</option>
	  </select><br />
	  -->
	  ~OBJ_PERSON~
	  ~OBJ_ADDRESS_NAME~
	  <br />
	  <b>~CONST_SENTENCE_YOUR_ADDRESS~</b>
	  <hr style="color:#FF3333; height:1px;" />
	  ~OBJ_ADDRESS~<br />
	  <input type="button" value="~CONST_CAPTION_BACK_BUTTON~" onClick="javascript:location.href='~CONST___INDEX~?site=~VAR_SITE~&action=signon_back&aid=~VAR_NEXT_ACTION_ID~';" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF3333; background:#FFFFFF;">
	  <input type="submit" value="~CONST_CAPTION_GOON_BUTTON~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF3333; background:#FFFFFF;">
    </form>
  </td>
<!-- END STEP -->
<!-- BEGIN STEP
NAME=validate
TITLE=~CONST_WORD_VALIDATE~
DESCRIPTION=~CONST_SENTENCE_PLEASE_VALIDATE_YOUR_PERSONAL_DETAILS~
-->
  <td colspan="2" style="width:260px; height:475px; font-size:13px; vertical-align:top; padding:10px; background:url('~CONST___TEMPLATE_IMAGES_PATH~back_box_red_signon.png') no-repeat;">
    ~DESCRIPTION~<br />
	<form action="~CONST___INDEX~" method="post">
	  <input type="hidden" name="site" value="~VAR_SITE~">
	  <input type="hidden" name="action" value="signon">
	  <input type="hidden" name="aid" value="~VAR_NEXT_ACTION_ID~">
	  <div style="font-size:13px; padding:5px; border:1px solid #FF3333; background:#FFFFFF;">
	  <b>~OBJ_PERSON~</b><br /><br />
	  <b>~OBJ_ADDRESS~</b>
	  </div><br /><br />
	  <input type="button" value="~CONST_CAPTION_BACK_BUTTON~" onClick="javascript:location.href='~CONST___INDEX~?site=~VAR_SITE~&action=signon_back&aid=~VAR_NEXT_ACTION_ID~';" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF3333; background:#FFFFFF;">
      <input type="submit" value="~CONST_CAPTION_GOON_BUTTON~" style="font-family:Tahoma; font-size:11px; font-weight:bold; border:2px solid #FF3333; background:#FFFFFF;">
    </form>
  </td>
<!-- END STEP -->
</tr>
</table>